.footer__link-content {
    padding: 0 0 32px;
    margin: 0;
}

.footer__link-content:nth-of-type(5) {
    padding-bottom: 0;
}

@media (min-width: 768px) {
    .footer__link-content {
        padding-right: 18px;
        padding-bottom: 0;
    }

    .footer__link-content:nth-of-type(5) {
        padding-right: 0;
    }

}