.cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    max-width: 288px;
}


@media (min-width: 700px) {
    .cover__subtitle {
        max-width: 360px;
        font-size: 18px;
        line-height: 22px;
    }

}
