.footer__links {
    list-style: none;
    margin: 0;
    padding: 0 0 48px;
}

@media (min-width: 768px) {
    .footer__links {
        display: flex;
        flex-direction: row;
        padding: 0;
    }

}