.place {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;

}

@media (min-width: 760px) {
    .place {
        display: grid;
        grid-template-columns: minmax(340px, 1fr)  minmax(352px, 1fr);
        grid-gap: 48px 28px;
        padding-top: 73px;
    }

}